<div class="container shadow p-2 mb-4 bg-body-tertiary rounded">
  <h2 class="text-center">Gêneros</h2>
</div>
<div class="container text-center text-success"><%= notice %></div><br>
<div class="container shadow p-2 mb-4 bg-body-tertiary rounded">
  <%= link_to "Novo Gênero", new_genre_path, class: "btn btn-outline-secondary" %>
  <% if @genres.any? %>
    <div id="genres">
      <dl class="row p-3 text-muted">
        <% @genres.each do |genre| %>
          <dt class="col-sm-6"><%= link_to genre.name , genre_path(genre) %></dt>
          <dd class="col-sm-auto"><%= link_to "Editar", edit_genre_path(genre), class: "btn btn-outline-secondary" %></dd>
          <dd class="col-sm-auto"><%= button_to "Excluir", genre_path(genre), class: "btn btn-outline-secondary",
          form: { data: { turbo_confirm: "Tem certeza que deseja excluir?" } }, method: :delete %></dd>
        <% end %>
      </dl>
    </div>
  <% end %>
</div>
