<div id="<%= dom_id movie %>">
  <p>
    <strong>Title:</strong>
    <%= movie.title %>
  </p>

  <p>
    <strong>Release year:</strong>
    <%= movie.release_year %>
  </p>

  <p>
    <strong>Synopsis:</strong>
    <%= movie.synopsis %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= movie.country %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= movie.duration %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= movie.director_id %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= movie.genre_id %>
  </p>

</div>
