<div id="<%= dom_id director %>">
  <p>
    <strong>Name:</strong>
    <%= director.name %>
  </p>

  <p>
    <strong>Nationality:</strong>
    <%= director.nationality %>
  </p>

  <p>
    <strong>Date birth:</strong>
    <%= director.date_birth %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= director.genre_id %>
  </p>

</div>
